
<!-- <div class="row">
  <div class="col-3">
    <product-filter [category]="category"></product-filter>
  </div>
  <div class="col">
    <div class="row" *ngIf="cart$ | async as cart">
        <ng-container *ngFor="let p of filteredProducts; let i = index">
          <div class="col">
             <product-card [product]="p" [shopping-cart]="cart"></product-card>
          </div>
          <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
        </ng-container>
      </div>
  </div>
</div> -->

<data-table
[items]="items"
[itemCount]="itemCount"
(reload)="reloadItems($event)">

<data-table-column
[property]="'ProductId'"  
[header]="'Product Id'"
[visible]="false"
>
</data-table-column>

<data-table-column
[property]="'ProductTitle'"  
[header]="'Product'"
[sortable]="true"
[resizable]="true"
>
</data-table-column>

<data-table-column
[property]="'UnitsInStock'"  
[header]="'Stock Quantity'"
[sortable]="true"
[resizable]="true"
>
</data-table-column>

<data-table-column
[property]="'UnitsOnOrder'"  
[header]="'Units on Order'"
[sortable]="true"
[resizable]="true"
>
</data-table-column>

<data-table-column
[property]="'ReorderLevel'"  
[header]="'Reorder Level'"
[sortable]="true"
[resizable]="true"
>
</data-table-column>

</data-table>