<data-table
[items]="items"
[itemCount]="itemCount"
(reload)="reloadItems($event)">

<data-table-column
[property]="'ProductId'"  
[header]="'Product Id'"
[visible]="false"
>
</data-table-column>

<data-table-column
[property]="'ProductTitle'"  
[header]="'Product'"
[sortable]="true"
[resizable]="true"
>
</data-table-column>

<data-table-column
[property]="'UnitsInStock'"  
[header]="'Stock Quantity'"
[sortable]="true"
[resizable]="true"
>
</data-table-column>

<data-table-column
[property]="'UnitsOnOrder'"  
[header]="'Units on Order'"
[sortable]="true"
[resizable]="true"
>
</data-table-column>

<data-table-column
[property]="'ReorderLevel'"  
[header]="'Reorder Level'"
[sortable]="true"
[resizable]="true"
>
</data-table-column>

</data-table>