
<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>

<data-table
[items]="items"
[itemCount]="itemCount"
(reload)="reloadItems($event)">

<data-table-column
[property]="'ProductId'"  
[header]="'Product Id'"
[visible]="false"
>
</data-table-column>

<data-table-column
[property]="'ProductTitle'"  
[header]="'Product'"
[sortable]="true"
[resizable]="true"
>
</data-table-column>

<data-table-column
[property]="'UnitsInStock'"  
[header]="'Stock Quantity'"
[sortable]="true"
[resizable]="true"
>
</data-table-column>

<data-table-column
[property]="'UnitsOnOrder'"  
[header]="'Units on Order'"
[sortable]="true"
[resizable]="true"
>
</data-table-column>

<data-table-column
[property]="'ReorderLevel'"  
[header]="'Reorder Level'"
[sortable]="true"
[resizable]="true"
>
</data-table-column>


  <data-table-column
  [property]="'$id'"  
>
  <ng-template #dataTableCell let-item="item">
    <button (click)='edit(item)'>Edit</button>
    <button (click)='remove(item)'>Remove</button>
  </ng-template>
</data-table-column>

</data-table>