
<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
          <label for="title">Product Title</label>
          <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
            Title is required.
          </div>
        </div>        

        <div class="row">
          <div class="col-4">
              <div class="form-group">
                  <label for="price">Price</label>
                  <div class="input-group">
                    <span class="input-group-addon">PhP</span>
                    <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" required [min]="0">
                  </div>
                  <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    <div *ngIf="price.errors.required">Price is required.</div>
                    <div *ngIf="price.errors.min">Price should be 0 or higher.</div>
                  </div>
                </div>        
          </div>
          <div class="col-4">
              <div class="form-group">
                  <label for="quantityperunit">Quantity Per Unit</label>
                  <div class="input-group">
                    <input #quantityperunit="ngModel" [(ngModel)]="product.quantityperunit" name="quantityperunit" id="quantityperunit" type="text" class="form-control" placeholder="Qty/Unit">
                  </div>
                  <div class="alert alert-danger" *ngIf="quantityperunit.touched && quantityperunit.invalid">
                    <div *ngIf="quantityperunit.errors.required">Quantity Per Unit is required.</div>
                      <!-- <div *ngIf="quantityperunit.errors.min">quantityperunit should be 0 or higher.</div> -->
                  </div>
                </div>
          </div>
          <div class="col-4"><div class="form-group">
              <label for="unitsinstock">Units In Stock</label>
              <div class="input-group">
                <input #unitsinstock="ngModel" [(ngModel)]="product.unitsinstock" name="unitsinstock" id="unitsinstock" type="number" class="form-control" placeholder="0" required [min]="0">
              </div>
              <div class="alert alert-danger" *ngIf="unitsinstock.touched && unitsinstock.invalid">
                <div *ngIf="unitsinstock.errors.required">Units in stock is required.</div>
                <div *ngIf="unitsinstock.errors.min">Units in stock should be 0 or higher.</div>
              </div>
          </div></div>
        </div>
        
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="unitsonorder">Units On Order</label>
                    <div class="input-group">
                      <input #unitsonorder="ngModel" [(ngModel)]="product.unitsonorder" name="unitsonorder" id="unitsonorder" type="number" class="form-control" required [min]="0">
                    </div>
                    <div class="alert alert-danger" *ngIf="unitsonorder.touched && unitsonorder.invalid">
                      <div *ngIf="unitsonorder.errors.required">Units On Order is required.</div>
                      <div *ngIf="unitsonorder.errors.min">Units On Order should be 0 or higher.</div>
                    </div>
                  </div>        
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="reorderlevel">Reorder Level</label>
                    <div class="input-group">
                      <input #reorderlevel="ngModel" [(ngModel)]="product.reorderlevel" name="reorderlevel" id="reorderlevel" type="number" class="form-control" required [min]="0">
                    </div>
                    <div class="alert alert-danger" *ngIf="reorderlevel.touched && reorderlevel.invalid">
                      <div *ngIf="reorderlevel.errors.required">Reorder level is required.</div>
                        <div *ngIf="reorderlevel.errors.min">Reorder level should be 0 or higher.</div>
                    </div>
                  </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <div class="form-group">
                    <label for="discontinued">Discontinued</label>
                    <select #discontinued="ngModel" [(ngModel)]="product.discontinued" name="discontinued" id="discontinued" class="form-control" required>
                      <option value=""></option>
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="discontinued.touched && discontinued.invalid">
                      Discontinued is required.
                    </div>
                </div>        
              </div>
            </div>
          </div>
          
        

        

        <div class="form-group">
            <label for="supplier">Supplier</label>
            <input #supplier="ngModel" [(ngModel)]="product.supplier" name="supplier" id="supplier" type="text" class="form-control" required>
            <div class="alert alert-danger" *ngIf="supplier.touched && supplier.invalid">
              Supplier is required.
            </div>
        </div>        

        <div class="form-group">
          <label for="category">Category</label>
          <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required>
            <option value=""></option>
            <option *ngFor="let c of categories$ | async" [value]="c.$key">
              {{ c.name }}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
            Category is required.
          </div>
        </div>        
        <!-- <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" required url>
          <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
            <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
            <div *ngIf="imageUrl.errors.url">Please enter a valid URL.</div>
          </div>
        </div>         -->
        <button [disabled]="!f.valid" class="btn btn-primary">Save</button>
        <button *ngIf="id" type="button" (click)="delete()" class="btn btn-danger">Delete</button>
      </form>    
  </div>
  <div class="col-md-4">
    <product-card [product]="product" [show-actions]="false"></product-card>
  </div>
</div>
