<!-- <p>
  <input 
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Search...">
</p> {{masterName}} -->
<p>
    <label>SO Number: {{ soNumber }}
    </label>
    <label>Master: {{masterName}}
      </label>
      <label>Sales Order ID: {{salesorder.SalesOrderID}}
        </label>
  </p>
  
  <data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)">
  
    <data-table-column
    [property]="'ProductName'"  
    [header]="'Product'"
    [sortable]="true"
    [resizable]="true"
    >
    </data-table-column>
  
    <data-table-column
    [property]="'CompanyName'"  
    [header]="'Supplier'"
    [sortable]="true"
    [resizable]="true"
    >
    </data-table-column>
  
    <data-table-column
    [property]="'Brand'"  
    [header]="'Brand'"
    [sortable]="true"
    [resizable]="true"
    >
    </data-table-column>
  
    <data-table-column
    [property]="'Quantity'"  
    [header]="'Stock Quantity'"
    [sortable]="true"
    [resizable]="true"
    >
    </data-table-column>
    
    <data-table-column
    [property]="'UOM'"  
    [header]="'UOM'"
    [sortable]="false"
    [resizable]="true"
    >
    </data-table-column>

    <data-table-column
    [property]="'Price'"  
    [header]="'Price'"
    [sortable]="true"
    [resizable]="true"
    >
    <ng-template #dataTableCell let-item="item">
      {{ item.Price | currency:'PhP':true }}
    </ng-template>
    </data-table-column>
  
  <data-table-column
  [property]="'AcquisitionPrice'"  
  [header]="'Acquisition Price'"
  [sortable]="true"
  [resizable]="true"
  >
  <ng-template #dataTableCell let-item="item">
    {{ item.AcquisitionPrice | currency:'PhP':true }}
  </ng-template>
  </data-table-column>
  
  <data-table-column
  [property]="'OrderQuantity'" 
  [header]="'Order Quantity'" 
  >
    <ng-template #dataTableCell let-item="item">
      <!-- <input  [(ngModel)]="item.OrderQuantity" name="orderquantity" id="orderquantity" type="number" class="form-control" placeholder="0" required [min]="0"> -->
      <input #orderquantity="ngModel" [(ngModel)]="item.OrderQuantity" name="orderquantity" id="orderquantity" type="number" class="form-control" placeholder="0" required [min]="0">
    </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'$id'"  
    [header]="'Add to order list'" 
  >
    <ng-template #dataTableCell let-item="item">
      <button (click)='save(item)'>Add</button>
    </ng-template>
  </data-table-column>
    
  
  </data-table>