<p>
  <a routerLink="/inventory-stocks/new" class="btn btn-primary">New Stock</a>
</p>
<!-- <p>
  <input 
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Search...">
</p> -->


<data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)">

  <!--  PO number column hidden
        using [visible]="false"-->
  <data-table-column
    [property]="'PONumber'"  
    [header]="'PO Number'"
    [sortable]="true"
    [visible]="false" 
    [resizable]="true"
  >
  </data-table-column>
  
  <data-table-column
  [property]="'CompanyName'"  
  [header]="'Supplier'"
  [sortable]="true"
  [resizable]="true"
  >
  </data-table-column>

  <data-table-column
  [property]="'ProductTitle'"  
  [header]="'Product'"
  [sortable]="true"
  [resizable]="true"
  >
  </data-table-column>

  <data-table-column
  [property]="'Brand'"  
  [header]="'Brand'"
  [sortable]="true"
  [resizable]="true"
  >
  </data-table-column>

  <data-table-column
  [property]="'UOM'"  
  [header]="'UOM'"
  [sortable]="false"
  [resizable]="true"
  >
  </data-table-column>

  <data-table-column
  [property]="'Quantity'"  
  [header]="'Quantity'"
  [sortable]="true"
  [resizable]="true"
  >
  </data-table-column>

  <data-table-column
  [property]="'Price'"  
  [header]="'Price'"
  [sortable]="true"
  [resizable]="true"
  >
  <ng-template #dataTableCell let-item="item">
    {{ item.Price | currency:'PhP':true }}
  </ng-template>
  </data-table-column>

<data-table-column
[property]="'AcquisitionPrice'"  
[header]="'Acquisition Price'"
[sortable]="true"
[resizable]="true"
>
<ng-template #dataTableCell let-item="item">
  {{ item.AcquisitionPrice | currency:'PhP':true }}
</ng-template>
</data-table-column>

  <data-table-column
  [property]="'DateDelivered'"  
  [header]="'Date Delivered'"
  [sortable]="true"
  [resizable]="true"
  >
  <ng-template #dataTableCell let-item="item">
    {{ item.DateDelivered | date }}
  </ng-template>
  </data-table-column>

  <data-table-column
  [property]="'PutAwayLocation'"  
  [header]="'Put Away Location'"
  [sortable]="true"
  [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'$id'"  
  >
    <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['/inventory-stocks/', item.$id]">Edit</a>
    </ng-template>
  </data-table-column>

</data-table>

 