
<div class="row">
  <div class="col-8">
      <div class="form-group">
        <h1>
          Order Number: {{ soid }}
        </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <form #f="ngForm"  id="f">
      <div class="form-group">
          <label for="Customer">Customer</label>
          <input #Customer="ngModel" ngModel [(ngModel)]="orderHeader.Customer" name="Customer" id="Customer" type="text" class="form-control">
          
          <input 
          #query
          (keyup)="filter(query.value)"
          type="text" class="form-control" placeholder="Search...">

          <select #category="ngModel" [(ngModel)]="p.CategoryID" name="category" id="category" class="form-control" >
              <option value=""></option>
              <option *ngFor="let c of customer$" [value]="c.CustomerID">
                {{ c.CompanyName }}
              </option>
            </select>
          <div class="alert alert-danger" *ngIf="Customer.touched && Customer.invalid">
            Customer is required.
          </div>
      </div>
      



      <!-- <div class="form-group">
          <label for="soTaxAmt">Contact Name</label>
          <input #soTaxAmt="ngModel" ngModel [(ngModel)]="orderHeader.soTaxAmt" name="soTaxAmt" id="soTaxAmt" type="text" class="form-control">
          <div class="alert alert-danger" *ngIf="soTaxAmt.touched && soTaxAmt.invalid">
            Sub total is required.
          </div>
      </div> 

     <div class="form-group">
          <label for="soAddress">Address</label>
          <input #soAddress="ngModel" ngModel [(ngModel)]="orderHeader.soAddress" name="soAddress" id="soAddress" type="text" class="form-control">
          <div class="alert alert-danger" *ngIf="soAddress.touched && soAddress.invalid">
            Address is required.
          </div>
      </div> 
      
          <label for="soComment">Contact Number</label>
          <input #soComment="ngModel" ngModel [(ngModel)]="orderHeader.soComment" name="soComment" id="soComment" type="text" class="form-control">
          <div class="alert alert-danger" *ngIf="soComment.touched && soComment.invalid">
            Sub total is required.
          </div>
      </div> -->

      <div class="form-group">
        <label for="Freight">Freight</label>
        <input #Freight="ngModel" ngModel [(ngModel)]="orderHeader.Freight" name="Freight" id="Freight" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="Freight.touched && Freight.invalid">
          Freight is required.
        </div>
    </div>

    <div class="form-group">
      <label for="TaxAmt">TaxAmt</label>
      <input #TaxAmt="ngModel" ngModel [(ngModel)]="orderHeader.TaxAmt" name="TaxAmt" id="TaxAmt" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="TaxAmt.touched && TaxAmt.invalid">
        Tax is required.
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="soDiscount">Discount</label>
      <input #soDiscount="ngModel" ngModel [(ngModel)]="orderHeader.soDiscount" name="soDiscount" id="soDiscount" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="soDiscount.touched && soDiscount.invalid">
        Discount is required.
      </div>
    </div> -->

    <div class="form-group">
      <label for="TotalDue">Total Amount</label>
      <input #TotalDue="ngModel" ngModel [(ngModel)]="orderHeader.TotalDue" name="TotalDue" id="TotalDue" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="TotalDue.touched && TotalDue.invalid">
         Total is required.
      </div>
    </div>

  <div class="form-group">
    <label for="Comment">Comment</label>
    <input #Comment="ngModel" ngModel [(ngModel)]="orderHeader.Comment" name="Comment" id="Comment" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="Comment.touched && Comment.invalid">
      Sub total is required.
    </div>
</div>

  <div class="form-group">
        <button (click)="update(f.value)"  id="btnSave" class="btn btn-primary">Update</button>
        <label>=></label>
        
  </div> 
  
</form>
    <div class="col">Product Selection
        <product-selection
        [master]="master"
        [soid]="soid"
        [orderHeader]="orderHeader">
      </product-selection>
      Order Details
    <div>
        <button (click)="print(soid)" id="btnPrint" class="btn btn-primary">Print Summary</button> 
        <label>=></label>
        <button (click)="fuilfilled()" id="selectProduct" class="btn btn-primary">Fulfilled</button> 
    </div> 
    <order-detail></order-detail>
    
    </div>
    
  </div>
 
</div>