 .val td {
            border: 1px solid black;
            border-collapse: collapse;
}
.bordered {
    border: 1px solid black;
    border-collapse: collapse;
}
.bottomborder{
    border-bottom: 1px solid black;
}
.topborder{
    border-top : 1px solid black;
}
.txtcenter {
    text-align: center;
}
.txtleft {
    text-align: left;
}
.txtright {
    text-align: right;
}